[submodule "lib/pico_dvi"]
	path = lib/pico_dvi
	url = https://github.com/Wren6991/PicoDVI.git
[submodule "lib/pico_sdk"]
	path = lib/pico_sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/freertos_kernel"]
	path = lib/freertos_kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "assets/flipperzero-protobuf"]
	path = assets/flipperzero-protobuf
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
